/* Error: Undefined mixin.
 *     ,
 * 3   | / @include b(date-range-picker) {
 * 4   | |   width: 500px;
 * 5   | | 
 * 6   | |   &.has-sidebar {
 * 7   | |     width: 500px;
 * 8   | |   }
 * 9   | | 
 * 10  | |   table {
 * 11  | |     table-layout: fixed;
 * 12  | |     width: 100%;
 * 13  | |   }
 * 14  | | 
 * 15  | |   .el-picker-panel__body {
 * 16  | |     //min-width: 513px;
 * 17  | |   }
 * 18  | | 
 * 19  | |   .el-picker-panel__content {
 * 20  | |     margin: 0;
 * 21  | |   }
 * 22  | | 
 * 23  | |   @include e(header) {
 * 24  | |     position: relative;
 * 25  | |     text-align: center;
 * 26  | |     height: 28px;
 * 27  | | 
 * 28  | |     [class*=arrow-left] {
 * 29  | |       float: left;
 * 30  | |     }
 * 31  | | 
 * 32  | |     [class*=arrow-right] {
 * 33  | |       float: right;
 * 34  | |     }
 * 35  | | 
 * 36  | |     div {
 * 37  | |       font-size: 16px;
 * 38  | |       font-weight: 500;
 * 39  | |       margin-right: 50px;
 * 40  | |     }
 * 41  | |   }
 * 42  | | 
 * 43  | |   @include e(content) {
 * 44  | |     float: left;
 * 45  | |     width: 50%;
 * 46  | |     box-sizing: border-box;
 * 47  | |     margin: 0;
 * 48  | |     padding: 16px;
 * 49  | |     background-color: $--datepicker-cell-hover-color;
 * 50  | | 
 * 51  | |     @include when(left) {
 * 52  | |       border-right: 1px solid $--datepicker-inner-border-color;
 * 53  | |     }
 * 54  | | 
 * 55  | |     @include when(right) {
 * 56  | |       //border: 1px solid $--datepicker-inner-border-color;
 * 57  | |     }
 * 58  | | 
 * 59  | |     .el-date-range-picker__header {
 * 60  | | 
 * 61  | |       div {
 * 62  | |         margin-left: 50px;
 * 63  | |         margin-right: 50px;
 * 64  | |       }
 * 65  | |     }
 * 66  | |   }
 * 67  | | 
 * 68  | |   @include e(editors-wrap) {
 * 69  | |     box-sizing: border-box;
 * 70  | |     display: table-cell;
 * 71  | | 
 * 72  | |     @include when(right) {
 * 73  | |       text-align: right;
 * 74  | |     }
 * 75  | |   }
 * 76  | | 
 * 77  | |   @include e(time-header) {
 * 78  | |     position: relative;
 * 79  | |     border-bottom: 1px solid $--datepicker-inner-border-color;
 * 80  | |     font-size: 12px;
 * 81  | |     padding: 8px 5px 5px 5px;
 * 82  | |     display: table;
 * 83  | |     width: 100%;
 * 84  | |     box-sizing: border-box;
 * 85  | | 
 * 86  | |     >.el-icon-arrow-right {
 * 87  | |       font-size: 20px;
 * 88  | |       vertical-align: middle;
 * 89  | |       display: table-cell;
 * 90  | |       color: $--datepicker-icon-color;
 * 91  | |     }
 * 92  | |   }
 * 93  | | 
 * 94  | |   @include e(time-picker-wrap) {
 * 95  | |     position: relative;
 * 96  | |     display: table-cell;
 * 97  | |     padding: 0 5px;
 * 98  | | 
 * 99  | |     .el-picker-panel {
 * 100 | |       position: absolute;
 * 101 | |       top: 13px;
 * 102 | |       right: 0;
 * 103 | |       z-index: 1;
 * 104 | |       background: $--color-white;
 * 105 | |     }
 * 106 | |   }
 * 107 | \ }
 *     '
 *   date-range-picker.scss 3:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 3   \2502  \250c  @include b(date-range-picker) {\a 4   \2502  \2502    width: 500px;\a 5   \2502  \2502  \a 6   \2502  \2502    &.has-sidebar {\a 7   \2502  \2502      width: 500px;\a 8   \2502  \2502    }\a 9   \2502  \2502  \a 10  \2502  \2502    table {\a 11  \2502  \2502      table-layout: fixed;\a 12  \2502  \2502      width: 100%;\a 13  \2502  \2502    }\a 14  \2502  \2502  \a 15  \2502  \2502    .el-picker-panel__body {\a 16  \2502  \2502      //min-width: 513px;\a 17  \2502  \2502    }\a 18  \2502  \2502  \a 19  \2502  \2502    .el-picker-panel__content {\a 20  \2502  \2502      margin: 0;\a 21  \2502  \2502    }\a 22  \2502  \2502  \a 23  \2502  \2502    @include e(header) {\a 24  \2502  \2502      position: relative;\a 25  \2502  \2502      text-align: center;\a 26  \2502  \2502      height: 28px;\a 27  \2502  \2502  \a 28  \2502  \2502      [class*=arrow-left] {\a 29  \2502  \2502        float: left;\a 30  \2502  \2502      }\a 31  \2502  \2502  \a 32  \2502  \2502      [class*=arrow-right] {\a 33  \2502  \2502        float: right;\a 34  \2502  \2502      }\a 35  \2502  \2502  \a 36  \2502  \2502      div {\a 37  \2502  \2502        font-size: 16px;\a 38  \2502  \2502        font-weight: 500;\a 39  \2502  \2502        margin-right: 50px;\a 40  \2502  \2502      }\a 41  \2502  \2502    }\a 42  \2502  \2502  \a 43  \2502  \2502    @include e(content) {\a 44  \2502  \2502      float: left;\a 45  \2502  \2502      width: 50%;\a 46  \2502  \2502      box-sizing: border-box;\a 47  \2502  \2502      margin: 0;\a 48  \2502  \2502      padding: 16px;\a 49  \2502  \2502      background-color: $--datepicker-cell-hover-color;\a 50  \2502  \2502  \a 51  \2502  \2502      @include when(left) {\a 52  \2502  \2502        border-right: 1px solid $--datepicker-inner-border-color;\a 53  \2502  \2502      }\a 54  \2502  \2502  \a 55  \2502  \2502      @include when(right) {\a 56  \2502  \2502        //border: 1px solid $--datepicker-inner-border-color;\a 57  \2502  \2502      }\a 58  \2502  \2502  \a 59  \2502  \2502      .el-date-range-picker__header {\a 60  \2502  \2502  \a 61  \2502  \2502        div {\a 62  \2502  \2502          margin-left: 50px;\a 63  \2502  \2502          margin-right: 50px;\a 64  \2502  \2502        }\a 65  \2502  \2502      }\a 66  \2502  \2502    }\a 67  \2502  \2502  \a 68  \2502  \2502    @include e(editors-wrap) {\a 69  \2502  \2502      box-sizing: border-box;\a 70  \2502  \2502      display: table-cell;\a 71  \2502  \2502  \a 72  \2502  \2502      @include when(right) {\a 73  \2502  \2502        text-align: right;\a 74  \2502  \2502      }\a 75  \2502  \2502    }\a 76  \2502  \2502  \a 77  \2502  \2502    @include e(time-header) {\a 78  \2502  \2502      position: relative;\a 79  \2502  \2502      border-bottom: 1px solid $--datepicker-inner-border-color;\a 80  \2502  \2502      font-size: 12px;\a 81  \2502  \2502      padding: 8px 5px 5px 5px;\a 82  \2502  \2502      display: table;\a 83  \2502  \2502      width: 100%;\a 84  \2502  \2502      box-sizing: border-box;\a 85  \2502  \2502  \a 86  \2502  \2502      >.el-icon-arrow-right {\a 87  \2502  \2502        font-size: 20px;\a 88  \2502  \2502        vertical-align: middle;\a 89  \2502  \2502        display: table-cell;\a 90  \2502  \2502        color: $--datepicker-icon-color;\a 91  \2502  \2502      }\a 92  \2502  \2502    }\a 93  \2502  \2502  \a 94  \2502  \2502    @include e(time-picker-wrap) {\a 95  \2502  \2502      position: relative;\a 96  \2502  \2502      display: table-cell;\a 97  \2502  \2502      padding: 0 5px;\a 98  \2502  \2502  \a 99  \2502  \2502      .el-picker-panel {\a 100 \2502  \2502        position: absolute;\a 101 \2502  \2502        top: 13px;\a 102 \2502  \2502        right: 0;\a 103 \2502  \2502        z-index: 1;\a 104 \2502  \2502        background: $--color-white;\a 105 \2502  \2502      }\a 106 \2502  \2502    }\a 107 \2502  \2514  }\a     \2575 \a   date-range-picker.scss 3:1  root stylesheet";
}
