@charset "UTF-8";
/* ecf5ff */
/* Table
-------------------------- */
/* Tooltip
-------------------------- */
/* 表格头部按钮
--------------------------*/
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* 主色
--------------------------*/
/* cardTitle-color
--------------------------*/
/*tag-selector
----------------------------*/
/*tag-date-picker
----------------------------*/
/*table-cricle
----------------------------*/
/*tag-month-picker
----------------------------*/
/* Timeline-approval
--------------------------*/
/* top-nav-menu-2
--------------------------*/
/*导航条背景色*/
/*导航条字体色*/
/*导航条分割线*/
/*导航条图标颜色*/
/*导航条数字颜色*/
/* table
--------------------------*/
/* BEM support Func
 -------------------------- */
/* ecf5ff */
/* Table
-------------------------- */
/* Tooltip
-------------------------- */
/* 表格头部按钮
--------------------------*/
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* 主色
--------------------------*/
/* cardTitle-color
--------------------------*/
/*tag-selector
----------------------------*/
/*tag-date-picker
----------------------------*/
/*table-cricle
----------------------------*/
/*tag-month-picker
----------------------------*/
/* Timeline-approval
--------------------------*/
/* top-nav-menu-2
--------------------------*/
/*导航条背景色*/
/*导航条字体色*/
/*导航条分割线*/
/*导航条图标颜色*/
/*导航条数字颜色*/
/* table
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* ecf5ff */
/* Table
-------------------------- */
/* Tooltip
-------------------------- */
/* 表格头部按钮
--------------------------*/
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* 主色
--------------------------*/
/* cardTitle-color
--------------------------*/
/*tag-selector
----------------------------*/
/*tag-date-picker
----------------------------*/
/*table-cricle
----------------------------*/
/*tag-month-picker
----------------------------*/
/* Timeline-approval
--------------------------*/
/* top-nav-menu-2
--------------------------*/
/*导航条背景色*/
/*导航条字体色*/
/*导航条分割线*/
/*导航条图标颜色*/
/*导航条数字颜色*/
/* table
--------------------------*/
.ccui-picker-panel {
  color: #4A4A4A;
  border: 1px solid #ccc;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  border-radius: 4px;
  line-height: 30px;
  margin: 5px 0;
}
.ccui-picker-panel__body::after, .ccui-picker-panel__body-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.ccui-picker-panel__content {
  position: relative;
  margin: 0 14px;
}

.ccui-picker-panel__footer {
  border-top: 1px solid #e4e4e4;
  padding: 4px;
  text-align: right;
  background-color: #FFFFFF;
  position: relative;
  font-size: 0;
}

.ccui-picker-panel__shortcut {
  display: block;
  width: 100%;
  border: 0;
  background-color: transparent;
  line-height: 28px;
  font-size: 14px;
  color: #4A4A4A;
  padding-left: 12px;
  text-align: left;
  outline: none;
  cursor: pointer;
}
.ccui-picker-panel__shortcut:hover {
  color: #0089EF;
}
.ccui-picker-panel__shortcut.active {
  background-color: #e6f1fe;
  color: #0089EF;
}

.ccui-picker-panel__btn {
  border: 1px solid #dcdcdc;
  color: #333;
  line-height: 24px;
  border-radius: 2px;
  padding: 0 20px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  font-size: 12px;
}
.ccui-picker-panel__btn[disabled] {
  color: #cccccc;
  cursor: not-allowed;
}

.ccui-picker-panel__icon-btn {
  font-size: 12px;
  color: #4A4A4A;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  margin-top: 8px;
}
.ccui-picker-panel__icon-btn:hover {
  color: #0089EF;
}
.ccui-picker-panel__icon-btn.is-disabled {
  color: #bbb;
}
.ccui-picker-panel__icon-btn.is-disabled:hover {
  cursor: not-allowed;
}

.ccui-picker-panel__link-btn {
  vertical-align: middle;
}

.el-picker-panel *[slot=sidebar],
.el-picker-panel__sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 110px;
  border-right: 1px solid #e4e4e4;
  box-sizing: border-box;
  padding-top: 6px;
  background-color: #FFFFFF;
  overflow: auto;
}

.el-picker-panel *[slot=sidebar] + .el-picker-panel__body,
.el-picker-panel__sidebar + .el-picker-panel__body {
  margin-left: 110px;
}

.ccui-date-picker {
  width: 250px;
}
.ccui-date-picker .el-popper[x-placement^=bottom] .popper__arrow::after,
.ccui-date-picker .el-popper[x-placement^=bottom] .popper__arrow {
  display: none !important;
  top: 0 !important;
  left: 50 !important;
  margin-right: none !important;
  border-top-width: 0 !important;
  border-bottom-color: transparent !important;
}
.ccui-date-picker.has-sidebar.has-time {
  width: 357px;
}
.ccui-date-picker.has-sidebar {
  width: 360px;
}
.ccui-date-picker.has-time .el-picker-panel__body-wrapper {
  position: relative;
}
.ccui-date-picker .el-picker-panel__content {
  width: 221px;
}
.ccui-date-picker table {
  table-layout: fixed;
  width: 100%;
}
.ccui-date-picker__editor-wrap {
  position: relative;
  display: table-cell;
  padding: 0 5px;
}

.ccui-date-picker__time-header {
  position: relative;
  border-bottom: 1px solid #e4e4e4;
  font-size: 12px;
  padding: 8px 5px 5px 5px;
  display: table;
  width: 100%;
  box-sizing: border-box;
}

.ccui-date-picker__header {
  margin: 3px;
  text-align: center;
  border-bottom: 1px solid #DDDDDD;
}
.ccui-date-picker__header--bordered {
  margin-bottom: 0;
  border-bottom: solid 1px #EDF2FC;
}
.ccui-date-picker__header--bordered + .el-picker-panel__content {
  margin-top: 0;
}

.ccui-date-picker__header-label {
  font-size: 13px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  padding: 0 5px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  color: #4A4A4A;
}
.ccui-date-picker__header-label:hover {
  color: #0089EF;
}
.ccui-date-picker__header-label.active {
  color: #0089EF;
}

.ccui-date-picker__prev-btn {
  float: left;
}

.ccui-date-picker__next-btn {
  float: right;
}

.ccui-date-picker__time-wrap {
  padding: 10px;
  text-align: center;
}

.ccui-date-picker__time-label {
  float: left;
  cursor: pointer;
  line-height: 30px;
  margin-left: 10px;
}

/*# sourceMappingURL=date-picker.css.map */
