/* Error: Undefined mixin.
 *    ,
 * 3  | / @include b(month-table) {
 * 4  | |   font-size: 12px;
 * 5  | |   margin: -1px;
 * 6  | |   border-collapse: collapse;
 * 7  | | 
 * 8  | |   td {
 * 9  | |     text-align: center;
 * 10 | |     padding: 8px 0px;
 * 11 | |     cursor: pointer;
 * 12 | |     & div {
 * 13 | |       height: 48px;
 * 14 | |       padding: 6px 0;
 * 15 | |       box-sizing: border-box;
 * 16 | |     }
 * 17 | |     &.today {
 * 18 | |       .cell {
 * 19 | |         color: $--color-primary;
 * 20 | |         font-weight: bold;
 * 21 | |       }
 * 22 | |       &.start-date .cell,
 * 23 | |       &.end-date .cell {
 * 24 | |         color: $--color-white;
 * 25 | |       }
 * 26 | |     }
 * 27 | | 
 * 28 | |     &.disabled .cell {
 * 29 | |       background-color: $--background-color-base;
 * 30 | |       cursor: not-allowed;
 * 31 | |       color: $--color-text-placeholder;
 * 32 | | 
 * 33 | |       &:hover {
 * 34 | |         color: $--color-text-placeholder;
 * 35 | |       }
 * 36 | |     }
 * 37 | | 
 * 38 | |     .cell {
 * 39 | |       width: 56px;
 * 40 | |       height: 36px;
 * 41 | |       display: block;
 * 42 | |       line-height: 36px;
 * 43 | |       color: $--datepicker-font-color;
 * 44 | |       margin: 0 auto;
 * 45 | |       border-radius: 18px;
 * 46 | |       &:hover {
 * 47 | |         color: $--datepicker-hover-font-color;
 * 48 | |       }
 * 49 | |     }
 * 50 | | 
 * 51 | |     &.in-range div {
 * 52 | |       background-color: $--datepicker-inrange-background-color;
 * 53 | |       &:hover {
 * 54 | |         background-color: $--datepicker-inrange-hover-background-color;
 * 55 | |       }
 * 56 | |     }
 * 57 | |     &.start-date div,
 * 58 | |     &.end-date div {
 * 59 | |       color: $--color-white;
 * 60 | |     }
 * 61 | | 
 * 62 | |     &.start-date .cell,
 * 63 | |     &.end-date .cell {
 * 64 | |       color: $--color-white;
 * 65 | |       background-color: $--datepicker-active-color;
 * 66 | |     }
 * 67 | | 
 * 68 | |     &.start-date div {
 * 69 | |       border-top-left-radius: 24px;
 * 70 | |       border-bottom-left-radius: 24px;
 * 71 | |     }
 * 72 | | 
 * 73 | |     &.end-date div {
 * 74 | |       border-top-right-radius: 24px;
 * 75 | |       border-bottom-right-radius: 24px;
 * 76 | |     }
 * 77 | | 
 * 78 | |     &.current:not(.disabled) .cell {
 * 79 | |       color: $--datepicker-active-color;
 * 80 | |     }
 * 81 | |   }
 * 82 | \ }
 *    '
 *   month-table.scss 3:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 3  \2502  \250c  @include b(month-table) {\a 4  \2502  \2502    font-size: 12px;\a 5  \2502  \2502    margin: -1px;\a 6  \2502  \2502    border-collapse: collapse;\a 7  \2502  \2502  \a 8  \2502  \2502    td {\a 9  \2502  \2502      text-align: center;\a 10 \2502  \2502      padding: 8px 0px;\a 11 \2502  \2502      cursor: pointer;\a 12 \2502  \2502      & div {\a 13 \2502  \2502        height: 48px;\a 14 \2502  \2502        padding: 6px 0;\a 15 \2502  \2502        box-sizing: border-box;\a 16 \2502  \2502      }\a 17 \2502  \2502      &.today {\a 18 \2502  \2502        .cell {\a 19 \2502  \2502          color: $--color-primary;\a 20 \2502  \2502          font-weight: bold;\a 21 \2502  \2502        }\a 22 \2502  \2502        &.start-date .cell,\a 23 \2502  \2502        &.end-date .cell {\a 24 \2502  \2502          color: $--color-white;\a 25 \2502  \2502        }\a 26 \2502  \2502      }\a 27 \2502  \2502  \a 28 \2502  \2502      &.disabled .cell {\a 29 \2502  \2502        background-color: $--background-color-base;\a 30 \2502  \2502        cursor: not-allowed;\a 31 \2502  \2502        color: $--color-text-placeholder;\a 32 \2502  \2502  \a 33 \2502  \2502        &:hover {\a 34 \2502  \2502          color: $--color-text-placeholder;\a 35 \2502  \2502        }\a 36 \2502  \2502      }\a 37 \2502  \2502  \a 38 \2502  \2502      .cell {\a 39 \2502  \2502        width: 56px;\a 40 \2502  \2502        height: 36px;\a 41 \2502  \2502        display: block;\a 42 \2502  \2502        line-height: 36px;\a 43 \2502  \2502        color: $--datepicker-font-color;\a 44 \2502  \2502        margin: 0 auto;\a 45 \2502  \2502        border-radius: 18px;\a 46 \2502  \2502        &:hover {\a 47 \2502  \2502          color: $--datepicker-hover-font-color;\a 48 \2502  \2502        }\a 49 \2502  \2502      }\a 50 \2502  \2502  \a 51 \2502  \2502      &.in-range div {\a 52 \2502  \2502        background-color: $--datepicker-inrange-background-color;\a 53 \2502  \2502        &:hover {\a 54 \2502  \2502          background-color: $--datepicker-inrange-hover-background-color;\a 55 \2502  \2502        }\a 56 \2502  \2502      }\a 57 \2502  \2502      &.start-date div,\a 58 \2502  \2502      &.end-date div {\a 59 \2502  \2502        color: $--color-white;\a 60 \2502  \2502      }\a 61 \2502  \2502  \a 62 \2502  \2502      &.start-date .cell,\a 63 \2502  \2502      &.end-date .cell {\a 64 \2502  \2502        color: $--color-white;\a 65 \2502  \2502        background-color: $--datepicker-active-color;\a 66 \2502  \2502      }\a 67 \2502  \2502  \a 68 \2502  \2502      &.start-date div {\a 69 \2502  \2502        border-top-left-radius: 24px;\a 70 \2502  \2502        border-bottom-left-radius: 24px;\a 71 \2502  \2502      }\a 72 \2502  \2502  \a 73 \2502  \2502      &.end-date div {\a 74 \2502  \2502        border-top-right-radius: 24px;\a 75 \2502  \2502        border-bottom-right-radius: 24px;\a 76 \2502  \2502      }\a 77 \2502  \2502  \a 78 \2502  \2502      &.current:not(.disabled) .cell {\a 79 \2502  \2502        color: $--datepicker-active-color;\a 80 \2502  \2502      }\a 81 \2502  \2502    }\a 82 \2502  \2514  }\a    \2575 \a   month-table.scss 3:1  root stylesheet";
}
