/* Error: Undefined mixin.
 *    ,
 * 3  | / @include b(time-panel) {
 * 4  | |   margin: 5px;
 * 5  | |   border: solid 1px $--datepicker-border-color;
 * 6  | |   background-color: $--color-white;
 * 7  | |   box-shadow: $--box-shadow-light;
 * 8  | |   border-radius: 2px;
 * 9  | |   position: absolute;
 * 10 | |   width: 247px;
 * 11 | |   left: 0;
 * 12 | |   z-index: $--index-top;
 * 13 | |   user-select: none;
 * 14 | |   box-sizing: content-box;
 * 15 | | 
 * 16 | |   @include e(content) {
 * 17 | |     font-size: 0;
 * 18 | |     position: relative;
 * 19 | |     overflow: hidden;
 * 20 | | 
 * 21 | |     &::after, &::before {
 * 22 | |       content: "";
 * 23 | |       top: 50%;
 * 24 | |       position: absolute;
 * 25 | |       margin-top: -15px;
 * 26 | |       height: 32px;
 * 27 | |       z-index: -1;
 * 28 | |       left: 0;
 * 29 | |       right: 0;
 * 30 | |       box-sizing: border-box;
 * 31 | |       padding-top: 6px;
 * 32 | |       text-align: left;
 * 33 | |       border-top: 1px solid $--border-color-light;
 * 34 | |       border-bottom: 1px solid $--border-color-light;
 * 35 | |     }
 * 36 | | 
 * 37 | |     &::after {
 * 38 | |       left: 50%;
 * 39 | |       margin-left: 12%;
 * 40 | |       margin-right: 12%;
 * 41 | |     }
 * 42 | | 
 * 43 | |     &::before {
 * 44 | |       padding-left: 50%;
 * 45 | |       margin-right: 12%;
 * 46 | |       margin-left: 12%;
 * 47 | |     }
 * 48 | | 
 * 49 | |     &.has-seconds {
 * 50 | |       &::after {
 * 51 | |         left: calc(100% / 3 * 2);
 * 52 | |       }
 * 53 | | 
 * 54 | |       &::before {
 * 55 | |         padding-left: calc(100% / 3);
 * 56 | |       }
 * 57 | |     }
 * 58 | |   }
 * 59 | | 
 * 60 | |   @include e(footer) {
 * 61 | |     border-top: 1px solid $--datepicker-inner-border-color;
 * 62 | |     padding: 4px;
 * 63 | |     height: 36px;
 * 64 | |     line-height: 25px;
 * 65 | |     text-align: right;
 * 66 | |     box-sizing: border-box;
 * 67 | |   }
 * 68 | | 
 * 69 | |   @include e(btn) {
 * 70 | |     border: none;
 * 71 | |     line-height: 28px;
 * 72 | |     padding: 0 5px;
 * 73 | |     margin: 0 5px;
 * 74 | |     cursor: pointer;
 * 75 | |     background-color: transparent;
 * 76 | |     outline: none;
 * 77 | |     font-size: 12px;
 * 78 | |     color: $--color-text-primary;
 * 79 | | 
 * 80 | |     &.confirm {
 * 81 | |       font-weight: 800;
 * 82 | |       color: $--datepicker-active-color;
 * 83 | |     }
 * 84 | |   }
 * 85 | \ }
 *    '
 *   time-picker.scss 3:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 3  \2502  \250c  @include b(time-panel) {\a 4  \2502  \2502    margin: 5px;\a 5  \2502  \2502    border: solid 1px $--datepicker-border-color;\a 6  \2502  \2502    background-color: $--color-white;\a 7  \2502  \2502    box-shadow: $--box-shadow-light;\a 8  \2502  \2502    border-radius: 2px;\a 9  \2502  \2502    position: absolute;\a 10 \2502  \2502    width: 247px;\a 11 \2502  \2502    left: 0;\a 12 \2502  \2502    z-index: $--index-top;\a 13 \2502  \2502    user-select: none;\a 14 \2502  \2502    box-sizing: content-box;\a 15 \2502  \2502  \a 16 \2502  \2502    @include e(content) {\a 17 \2502  \2502      font-size: 0;\a 18 \2502  \2502      position: relative;\a 19 \2502  \2502      overflow: hidden;\a 20 \2502  \2502  \a 21 \2502  \2502      &::after, &::before {\a 22 \2502  \2502        content: "";\a 23 \2502  \2502        top: 50%;\a 24 \2502  \2502        position: absolute;\a 25 \2502  \2502        margin-top: -15px;\a 26 \2502  \2502        height: 32px;\a 27 \2502  \2502        z-index: -1;\a 28 \2502  \2502        left: 0;\a 29 \2502  \2502        right: 0;\a 30 \2502  \2502        box-sizing: border-box;\a 31 \2502  \2502        padding-top: 6px;\a 32 \2502  \2502        text-align: left;\a 33 \2502  \2502        border-top: 1px solid $--border-color-light;\a 34 \2502  \2502        border-bottom: 1px solid $--border-color-light;\a 35 \2502  \2502      }\a 36 \2502  \2502  \a 37 \2502  \2502      &::after {\a 38 \2502  \2502        left: 50%;\a 39 \2502  \2502        margin-left: 12%;\a 40 \2502  \2502        margin-right: 12%;\a 41 \2502  \2502      }\a 42 \2502  \2502  \a 43 \2502  \2502      &::before {\a 44 \2502  \2502        padding-left: 50%;\a 45 \2502  \2502        margin-right: 12%;\a 46 \2502  \2502        margin-left: 12%;\a 47 \2502  \2502      }\a 48 \2502  \2502  \a 49 \2502  \2502      &.has-seconds {\a 50 \2502  \2502        &::after {\a 51 \2502  \2502          left: calc(100% / 3 * 2);\a 52 \2502  \2502        }\a 53 \2502  \2502  \a 54 \2502  \2502        &::before {\a 55 \2502  \2502          padding-left: calc(100% / 3);\a 56 \2502  \2502        }\a 57 \2502  \2502      }\a 58 \2502  \2502    }\a 59 \2502  \2502  \a 60 \2502  \2502    @include e(footer) {\a 61 \2502  \2502      border-top: 1px solid $--datepicker-inner-border-color;\a 62 \2502  \2502      padding: 4px;\a 63 \2502  \2502      height: 36px;\a 64 \2502  \2502      line-height: 25px;\a 65 \2502  \2502      text-align: right;\a 66 \2502  \2502      box-sizing: border-box;\a 67 \2502  \2502    }\a 68 \2502  \2502  \a 69 \2502  \2502    @include e(btn) {\a 70 \2502  \2502      border: none;\a 71 \2502  \2502      line-height: 28px;\a 72 \2502  \2502      padding: 0 5px;\a 73 \2502  \2502      margin: 0 5px;\a 74 \2502  \2502      cursor: pointer;\a 75 \2502  \2502      background-color: transparent;\a 76 \2502  \2502      outline: none;\a 77 \2502  \2502      font-size: 12px;\a 78 \2502  \2502      color: $--color-text-primary;\a 79 \2502  \2502  \a 80 \2502  \2502      &.confirm {\a 81 \2502  \2502        font-weight: 800;\a 82 \2502  \2502        color: $--datepicker-active-color;\a 83 \2502  \2502      }\a 84 \2502  \2502    }\a 85 \2502  \2514  }\a    \2575 \a   time-picker.scss 3:1  root stylesheet';
}
