/* Error: Undefined mixin.
 *     ,
 * 3   | / @include b(time-spinner) {
 * 4   | |   &.has-seconds {
 * 5   | |     .el-time-spinner__wrapper {
 * 6   | |       width: 33.3%;
 * 7   | |     }
 * 8   | |   }
 * 9   | | 
 * 10  | |   @include e(wrapper) {
 * 11  | |     max-height: 190px;
 * 12  | |     overflow: auto;
 * 13  | |     display: inline-block;
 * 14  | |     width: 50%;
 * 15  | |     vertical-align: top;
 * 16  | |     position: relative;
 * 17  | | 
 * 18  | |     & .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
 * 19  | |       padding-bottom: 15px;
 * 20  | |     }
 * 21  | | 
 * 22  | |     @include when(arrow) {
 * 23  | |       box-sizing: border-box;
 * 24  | |       text-align: center;
 * 25  | |       overflow: hidden;
 * 26  | | 
 * 27  | |       .el-time-spinner__list {
 * 28  | |         transform: translateY(-32px);
 * 29  | |       }
 * 30  | | 
 * 31  | |       .el-time-spinner__item:hover:not(.disabled):not(.active) {
 * 32  | |         background: $--color-white;
 * 33  | |         cursor: default;
 * 34  | |       }
 * 35  | |     }
 * 36  | |   }
 * 37  | | 
 * 38  | |   @include e(arrow) {
 * 39  | |     font-size: 12px;
 * 40  | |     color: $--color-text-secondary;
 * 41  | |     position: absolute;
 * 42  | |     left: 0;
 * 43  | |     width: 100%;
 * 44  | |     z-index: $--index-normal;
 * 45  | |     text-align: center;
 * 46  | |     height: 30px;
 * 47  | |     line-height: 30px;
 * 48  | |     cursor: pointer;
 * 49  | | 
 * 50  | |     &:hover {
 * 51  | |       color: $--color-primary;
 * 52  | |     }
 * 53  | | 
 * 54  | |     &.el-icon-arrow-up {
 * 55  | |       top: 10px;
 * 56  | |     }
 * 57  | | 
 * 58  | |     &.el-icon-arrow-down {
 * 59  | |       bottom: 10px;
 * 60  | |     }
 * 61  | |   }
 * 62  | | 
 * 63  | |   @include e(input) {
 * 64  | |     &.el-input {
 * 65  | |       width: 70%;
 * 66  | | 
 * 67  | |       .el-input__inner {
 * 68  | |         padding: 0;
 * 69  | |         text-align: center;
 * 70  | |       }
 * 71  | |     }
 * 72  | |   }
 * 73  | | 
 * 74  | |   @include e(list) {
 * 75  | |     padding: 0;
 * 76  | |     margin: 0;
 * 77  | |     list-style: none;
 * 78  | |     text-align: center;
 * 79  | | 
 * 80  | |     &::after,
 * 81  | |     &::before {
 * 82  | |       content: '';
 * 83  | |       display: block;
 * 84  | |       width: 100%;
 * 85  | |       height: 80px;
 * 86  | |     }
 * 87  | |   }
 * 88  | | 
 * 89  | |   @include e(item) {
 * 90  | |     height: 32px;
 * 91  | |     line-height: 32px;
 * 92  | |     font-size: 12px;
 * 93  | |     color: $--color-text-regular;
 * 94  | | 
 * 95  | |     &:hover:not(.disabled):not(.active) {
 * 96  | |       // background: $--export-popover-hover-color;
 * 97  | |       cursor: pointer;
 * 98  | |       color: $--color-text-primary;
 * 99  | |     }
 * 100 | | 
 * 101 | |     &.active:not(.disabled) {
 * 102 | |       color: $--color-text-primary;
 * 103 | |       font-weight: bold;
 * 104 | |     }
 * 105 | | 
 * 106 | |     &.disabled {
 * 107 | |       color: $--color-text-placeholder;
 * 108 | |       cursor: not-allowed;
 * 109 | |     }
 * 110 | |   }
 * 111 | \ }
 *     '
 *   time-spinner.scss 3:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 3   \2502  \250c  @include b(time-spinner) {\a 4   \2502  \2502    &.has-seconds {\a 5   \2502  \2502      .el-time-spinner__wrapper {\a 6   \2502  \2502        width: 33.3%;\a 7   \2502  \2502      }\a 8   \2502  \2502    }\a 9   \2502  \2502  \a 10  \2502  \2502    @include e(wrapper) {\a 11  \2502  \2502      max-height: 190px;\a 12  \2502  \2502      overflow: auto;\a 13  \2502  \2502      display: inline-block;\a 14  \2502  \2502      width: 50%;\a 15  \2502  \2502      vertical-align: top;\a 16  \2502  \2502      position: relative;\a 17  \2502  \2502  \a 18  \2502  \2502      & .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {\a 19  \2502  \2502        padding-bottom: 15px;\a 20  \2502  \2502      }\a 21  \2502  \2502  \a 22  \2502  \2502      @include when(arrow) {\a 23  \2502  \2502        box-sizing: border-box;\a 24  \2502  \2502        text-align: center;\a 25  \2502  \2502        overflow: hidden;\a 26  \2502  \2502  \a 27  \2502  \2502        .el-time-spinner__list {\a 28  \2502  \2502          transform: translateY(-32px);\a 29  \2502  \2502        }\a 30  \2502  \2502  \a 31  \2502  \2502        .el-time-spinner__item:hover:not(.disabled):not(.active) {\a 32  \2502  \2502          background: $--color-white;\a 33  \2502  \2502          cursor: default;\a 34  \2502  \2502        }\a 35  \2502  \2502      }\a 36  \2502  \2502    }\a 37  \2502  \2502  \a 38  \2502  \2502    @include e(arrow) {\a 39  \2502  \2502      font-size: 12px;\a 40  \2502  \2502      color: $--color-text-secondary;\a 41  \2502  \2502      position: absolute;\a 42  \2502  \2502      left: 0;\a 43  \2502  \2502      width: 100%;\a 44  \2502  \2502      z-index: $--index-normal;\a 45  \2502  \2502      text-align: center;\a 46  \2502  \2502      height: 30px;\a 47  \2502  \2502      line-height: 30px;\a 48  \2502  \2502      cursor: pointer;\a 49  \2502  \2502  \a 50  \2502  \2502      &:hover {\a 51  \2502  \2502        color: $--color-primary;\a 52  \2502  \2502      }\a 53  \2502  \2502  \a 54  \2502  \2502      &.el-icon-arrow-up {\a 55  \2502  \2502        top: 10px;\a 56  \2502  \2502      }\a 57  \2502  \2502  \a 58  \2502  \2502      &.el-icon-arrow-down {\a 59  \2502  \2502        bottom: 10px;\a 60  \2502  \2502      }\a 61  \2502  \2502    }\a 62  \2502  \2502  \a 63  \2502  \2502    @include e(input) {\a 64  \2502  \2502      &.el-input {\a 65  \2502  \2502        width: 70%;\a 66  \2502  \2502  \a 67  \2502  \2502        .el-input__inner {\a 68  \2502  \2502          padding: 0;\a 69  \2502  \2502          text-align: center;\a 70  \2502  \2502        }\a 71  \2502  \2502      }\a 72  \2502  \2502    }\a 73  \2502  \2502  \a 74  \2502  \2502    @include e(list) {\a 75  \2502  \2502      padding: 0;\a 76  \2502  \2502      margin: 0;\a 77  \2502  \2502      list-style: none;\a 78  \2502  \2502      text-align: center;\a 79  \2502  \2502  \a 80  \2502  \2502      &::after,\a 81  \2502  \2502      &::before {\a 82  \2502  \2502        content: '';\a 83  \2502  \2502        display: block;\a 84  \2502  \2502        width: 100%;\a 85  \2502  \2502        height: 80px;\a 86  \2502  \2502      }\a 87  \2502  \2502    }\a 88  \2502  \2502  \a 89  \2502  \2502    @include e(item) {\a 90  \2502  \2502      height: 32px;\a 91  \2502  \2502      line-height: 32px;\a 92  \2502  \2502      font-size: 12px;\a 93  \2502  \2502      color: $--color-text-regular;\a 94  \2502  \2502  \a 95  \2502  \2502      &:hover:not(.disabled):not(.active) {\a 96  \2502  \2502        // background: $--export-popover-hover-color;\a 97  \2502  \2502        cursor: pointer;\a 98  \2502  \2502        color: $--color-text-primary;\a 99  \2502  \2502      }\a 100 \2502  \2502  \a 101 \2502  \2502      &.active:not(.disabled) {\a 102 \2502  \2502        color: $--color-text-primary;\a 103 \2502  \2502        font-weight: bold;\a 104 \2502  \2502      }\a 105 \2502  \2502  \a 106 \2502  \2502      &.disabled {\a 107 \2502  \2502        color: $--color-text-placeholder;\a 108 \2502  \2502        cursor: not-allowed;\a 109 \2502  \2502      }\a 110 \2502  \2502    }\a 111 \2502  \2514  }\a     \2575 \a   time-spinner.scss 3:1  root stylesheet";
}
