/* Error: Undefined mixin.
 *    ,
 * 3  | / @include b(time-range-picker) {
 * 4  | |   width: 258px;
 * 5  | |   overflow: visible;
 * 6  | | 
 * 7  | |   @include e(content) {
 * 8  | |     position: relative;
 * 9  | |     text-align: center;
 * 10 | |     padding: 0 5px;
 * 11 | |   }
 * 12 | | 
 * 13 | |   @include e(cell) {
 * 14 | |     box-sizing: border-box;
 * 15 | |     margin: 0;
 * 16 | |     padding: 4px;
 * 17 | |     width: 50%;
 * 18 | |     display: inline-block;
 * 19 | |   }
 * 20 | | 
 * 21 | |   @include e(header) {
 * 22 | |     margin-bottom: 5px;
 * 23 | |     text-align: center;
 * 24 | |     font-size: 14px;
 * 25 | |   }
 * 26 | | 
 * 27 | |   @include e(body) {
 * 28 | |     border-radius:2px;
 * 29 | |     border: 1px solid $--datepicker-inner-border-color;
 * 30 | |   }
 * 31 | \ }
 *    '
 *   time-range-picker.scss 3:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 3  \2502  \250c  @include b(time-range-picker) {\a 4  \2502  \2502    width: 258px;\a 5  \2502  \2502    overflow: visible;\a 6  \2502  \2502  \a 7  \2502  \2502    @include e(content) {\a 8  \2502  \2502      position: relative;\a 9  \2502  \2502      text-align: center;\a 10 \2502  \2502      padding: 0 5px;\a 11 \2502  \2502    }\a 12 \2502  \2502  \a 13 \2502  \2502    @include e(cell) {\a 14 \2502  \2502      box-sizing: border-box;\a 15 \2502  \2502      margin: 0;\a 16 \2502  \2502      padding: 4px;\a 17 \2502  \2502      width: 50%;\a 18 \2502  \2502      display: inline-block;\a 19 \2502  \2502    }\a 20 \2502  \2502  \a 21 \2502  \2502    @include e(header) {\a 22 \2502  \2502      margin-bottom: 5px;\a 23 \2502  \2502      text-align: center;\a 24 \2502  \2502      font-size: 14px;\a 25 \2502  \2502    }\a 26 \2502  \2502  \a 27 \2502  \2502    @include e(body) {\a 28 \2502  \2502      border-radius:2px;\a 29 \2502  \2502      border: 1px solid $--datepicker-inner-border-color;\a 30 \2502  \2502    }\a 31 \2502  \2514  }\a    \2575 \a   time-range-picker.scss 3:1  root stylesheet";
}
