@import "mixins/mixins";
@import "common/var";
@include b(textarea) {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: $--font-size-base;
  border: 1px solid #DCDFE6;
  box-sizing: border-box;
  .ccui-textarea__inner {
    overflow: auto;
    border: none;
  }
  @include e(inner) {
    display: block;
    resize: vertical;
    padding: 5px 10px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: $--input-font-color;
    background-color: $--input-background-color;
    background-image: none;
    border: $--input-border;
    border-radius: $--border-radius-small;
    transition: $--border-transition-base;
    &::placeholder {
      color: $--input-placeholder-color;
    }

    &:hover {
      border-color: $--input-hover-border;
    }

    &:focus {
      outline: none;
      border-color: $--colors-custom;
    }
    &.input-short{
      width: $--input-width-short;
    }
  }

  & .ccui-input__count {
    color: $--color-info;
    //background: $--color-white;
    //position: absolute;
    float: right;
    font-size: 11px;
    margin: 5px 20px;
    line-height: 1;
    //right: 20px;
  }

  @include when(disabled) {
    background-color: $--input-disabled-fill;
    .ccui-textarea__inner {
      background-color: $--input-disabled-fill;
      border-color: $--input-disabled-border;
      color: $--input-disabled-color;
      cursor: not-allowed;

      &::placeholder {
        color: $--input-disabled-placeholder-color;
      }
    }
  }

  @include when(exceed) {
    border-color: $--color-danger;

    .ccui-input__count {
      color: $--color-danger;
    }
  }
}
@include b(input) {
  position: relative;
  font-size: $--font-size-base;
  display: inline-block;
  width: 100%;
  input::-ms-clear{display:none;}
  input::-ms-reveal{display:none;}
  /deep/ input.ccui-input__inner{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  @include scroll-bar;

  & .ccui-input__clear {
    color: $--input-icon-color;
    font-size: $--input-font-size;
    cursor: pointer;
    transition: $--color-transition-base;

    &:hover {
      color: $--input-clear-hover-color;
    }
  }

  & .ccui-input__count {
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: $--color-info;
    font-size: 12px;

    .ccui-input__count-inner {
      line-height: initial;
      display: inline-block;
      padding: 0 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  @include e(inner) {
    -webkit-appearance: none;
    background-color: $--input-background-color;
    background-image: none;
    border-radius: $--border-radius-small;
    border: $--input-border;
    box-sizing: border-box;
    color: $--input-font-color;
    display: inline-block;
    font-size: inherit;
    height: $--input-height;
    line-height: 1;
    outline: none;
    padding: 0 8px;
    transition: $--border-transition-base;
    width: 100%;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::placeholder {
      color: $--input-placeholder-color;
    }

    &:hover {
      border-color: $--input-hover-border;
    }

    &:focus {
      outline: none;
      border-color: $--colors-custom;
    }
  }

  @include e(suffix) {
    position: absolute;
    height: 100%;
    right: 5px;
    top: 0;
    text-align: center;
    color: $--input-icon-color;
    transition: all .3s;
    // pointer-events: none;
    // cursor: pointer;
  }

  @include e(suffix-inner) {
    pointer-events: all;
  }

  @include e(prefix) {
    position: absolute;
    height: 100%;
    left: 10px;
    top: 0;
    text-align: center;
    color: $--input-icon-color;
    transition: all .3s;
    // cursor: pointer;
  }

  @include e(icon) {
    height: 100%;
    width: 25px;
    text-align: center;
    transition: all .3s;
    line-height: $--input-height;
    // cursor: pointer;

    &:after {
      content: '';
      height: 100%;
      width:10px;
      display: inline-block;
      vertical-align: middle;
      // cursor: pointer;
    }
  }

  @include e(validateIcon) {
    pointer-events: none;
  }

  @include when(active) {
    .ccui-input__inner {
      outline: none;
      border-color: $--input-focus-border;
    }
  }

  @include when(disabled) {
    background-color: $--input-disabled-fill;
    .ccui-input__inner {
      background-color: $--input-disabled-fill;
      border-color: $--input-disabled-border;
      color: $--input-disabled-color;
      cursor: not-allowed;

      &::placeholder {
        color: $--input-disabled-placeholder-color;
      }
    }

    .ccui-input__icon {
      cursor: not-allowed;
    }
  }

  @include when(exceed) {
    .ccui-input__inner {
      border-color: $--color-danger;
    }

    .ccui-input__suffix {
      .ccui-input__count {
        color: $--color-danger;
      }
    }
  }

  @include m(suffix) {
    .ccui-input__inner {
      padding-right: 30px;
    }
  }

  @include m(prefix) {
    .ccui-input__inner {
      padding-left: 30px;
    }
  }

  @include m(medium) {
    font-size: $--input-medium-font-size;

    @include e(inner) {
      height: $--input-medium-height;
      line-height: $--input-medium-height;
    }

    .ccui-input__icon {
      line-height: $--input-medium-height;
    }
  }
  @include m(small) {
    font-size: $--input-small-font-size;

    @include e(inner) {
      height: $--input-small-height;
      line-height: $--input-small-height;
    }

    .ccui-input__icon {
      line-height: $--input-small-height;
    }
  }
  @include m(mini) {
    font-size: $--input-mini-font-size;

    @include e(inner) {
      height: $--input-mini-height;
      line-height: $--input-mini-height;
    }

    .ccui-input__icon {
      line-height: $--input-mini-height;
    }
  }
}

@include b(input-group) {
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;
  border-spacing:0;

  > .ccui-input__inner {
    vertical-align: middle;
    display: table-cell;
  }

  @include e((append, prepend)) {
    background-color: $--background-color-base;
    color: $--color-info;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: $--border-base;
    border-radius: $--border-radius-small;
    padding: 0 20px;
    width: 1px;
    white-space: nowrap;

    &:focus {
      outline: none;
    }

    .ccui-select,
    .ccui-button {
      display: inline-block;
      margin: -10px -20px;
    }

    button.ccui-button,
    div.ccui-select .ccui-input__inner,
    div.ccui-select:hover .ccui-input__inner {
      border-color: transparent;
      background-color: transparent;
      color: inherit;
      border-top: 0;
      border-bottom: 0;
    }

    .ccui-button,
    .ccui-input {
      font-size: inherit;
    }
  }

  @include e(prepend) {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  @include e(append) {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @include m(prepend) {
    .ccui-input__inner {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .ccui-select .ccui-input.is-focus .ccui-input__inner {
      border-color: transparent;
    }
  }

  @include m(append) {
    .ccui-input__inner {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .ccui-select .ccui-input.is-focus .ccui-input__inner {
      border-color: transparent;
    }
  }
}

/** disalbe default clear on IE */
.ccui-input__inner::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}


.input-long {
  width: $--input-width-long;
}

.input-short {
  width: $--input-width-short;
}

.textarea-long {
  width: $--input-textarea-width-long;
  height: $--input-textarea-height;
}
.textarea-limit {
  font-size:12px;
  float:right;
  width:50px;
  height:40px;
  color:$--color-text-secondary;
}
