@charset "UTF-8";
/* BEM support Func
 -------------------------- */
/* ecf5ff */
/* Table
-------------------------- */
/* Tooltip
-------------------------- */
/* 表格头部按钮
--------------------------*/
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* 主色
--------------------------*/
/* cardTitle-color
--------------------------*/
/*tag-selector
----------------------------*/
/*tag-date-picker
----------------------------*/
/*table-cricle
----------------------------*/
/*tag-month-picker
----------------------------*/
/* Timeline-approval
--------------------------*/
/* top-nav-menu-2
--------------------------*/
/*导航条背景色*/
/*导航条字体色*/
/*导航条分割线*/
/*导航条图标颜色*/
/*导航条数字颜色*/
/* table
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* ecf5ff */
/* Table
-------------------------- */
/* Tooltip
-------------------------- */
/* 表格头部按钮
--------------------------*/
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* 主色
--------------------------*/
/* cardTitle-color
--------------------------*/
/*tag-selector
----------------------------*/
/*tag-date-picker
----------------------------*/
/*table-cricle
----------------------------*/
/*tag-month-picker
----------------------------*/
/* Timeline-approval
--------------------------*/
/* top-nav-menu-2
--------------------------*/
/*导航条背景色*/
/*导航条字体色*/
/*导航条分割线*/
/*导航条图标颜色*/
/*导航条数字颜色*/
/* table
--------------------------*/
.ccui-select-group {
  margin: 0;
  padding: 0;
}
.ccui-select-group__wrap {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.ccui-select-group__wrap:not(:last-of-type) {
  padding-bottom: 24px;
}
.ccui-select-group__wrap:not(:last-of-type)::after {
  content: "";
  position: absolute;
  display: block;
  left: 20px;
  right: 20px;
  bottom: 12px;
  height: 1px;
  background: #ccc;
}

.ccui-select-group__title {
  padding-left: 20px;
  font-size: 12px;
  color: #9B9B9B;
  line-height: 30px;
}

.ccui-select-group .el-select-dropdown__item {
  padding-left: 20px;
}

/*# sourceMappingURL=option-group.css.map */
