@charset "UTF-8";
/* BEM support Func
 -------------------------- */
/* ecf5ff */
/* Table
-------------------------- */
/* Tooltip
-------------------------- */
/* 表格头部按钮
--------------------------*/
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* 主色
--------------------------*/
/* cardTitle-color
--------------------------*/
/*tag-selector
----------------------------*/
/*tag-date-picker
----------------------------*/
/*table-cricle
----------------------------*/
/*tag-month-picker
----------------------------*/
/* Timeline-approval
--------------------------*/
/* top-nav-menu-2
--------------------------*/
/*导航条背景色*/
/*导航条字体色*/
/*导航条分割线*/
/*导航条图标颜色*/
/*导航条数字颜色*/
/* table
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* ecf5ff */
/* Table
-------------------------- */
/* Tooltip
-------------------------- */
/* 表格头部按钮
--------------------------*/
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* 主色
--------------------------*/
/* cardTitle-color
--------------------------*/
/*tag-selector
----------------------------*/
/*tag-date-picker
----------------------------*/
/*table-cricle
----------------------------*/
/*tag-month-picker
----------------------------*/
/* Timeline-approval
--------------------------*/
/* top-nav-menu-2
--------------------------*/
/*导航条背景色*/
/*导航条字体色*/
/*导航条分割线*/
/*导航条图标颜色*/
/*导航条数字颜色*/
/* table
--------------------------*/
.ccui-select-dropdown__item {
  font-size: 13px;
  padding: 0 19px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4A4A4A;
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  cursor: pointer;
}
.ccui-select-dropdown__item.is-disabled {
  color: #999;
  cursor: not-allowed;
}
.ccui-select-dropdown__item.is-disabled:hover {
  background-color: #FFFFFF;
}

.ccui-select-dropdown__item.hover, .ccui-select-dropdown__item:hover {
  background-color: #e5e5e5;
}
.ccui-select-dropdown__item.selected {
  color: #0089EF;
  font-weight: bold;
}

/*# sourceMappingURL=option.css.map */
