@charset "UTF-8";
/* BEM support Func
 -------------------------- */
/* ecf5ff */
/* Table
-------------------------- */
/* Tooltip
-------------------------- */
/* 表格头部按钮
--------------------------*/
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* 主色
--------------------------*/
/* cardTitle-color
--------------------------*/
/*tag-selector
----------------------------*/
/*tag-date-picker
----------------------------*/
/*table-cricle
----------------------------*/
/*tag-month-picker
----------------------------*/
/* Timeline-approval
--------------------------*/
/* top-nav-menu-2
--------------------------*/
/*导航条背景色*/
/*导航条字体色*/
/*导航条分割线*/
/*导航条图标颜色*/
/*导航条数字颜色*/
/* table
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* ecf5ff */
/* Table
-------------------------- */
/* Tooltip
-------------------------- */
/* 表格头部按钮
--------------------------*/
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* 主色
--------------------------*/
/* cardTitle-color
--------------------------*/
/*tag-selector
----------------------------*/
/*tag-date-picker
----------------------------*/
/*table-cricle
----------------------------*/
/*tag-month-picker
----------------------------*/
/* Timeline-approval
--------------------------*/
/* top-nav-menu-2
--------------------------*/
/*导航条背景色*/
/*导航条字体色*/
/*导航条分割线*/
/*导航条图标颜色*/
/*导航条数字颜色*/
/* table
--------------------------*/
.ccui-scrollbar {
  overflow: hidden;
  position: relative;
}
.ccui-scrollbar:hover > .el-scrollbar__bar, .ccui-scrollbar:active > .el-scrollbar__bar, .ccui-scrollbar:focus > .el-scrollbar__bar {
  opacity: 1;
  transition: opacity 340ms ease-out;
}
.ccui-scrollbar__wrap {
  overflow: scroll;
  height: 100%;
}
.ccui-scrollbar__wrap--hidden-default::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.ccui-scrollbar__thumb {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(144, 147, 153, 0.3);
  transition: 0.3s background-color;
}
.ccui-scrollbar__thumb:hover {
  background-color: rgba(144, 147, 153, 0.5);
}

.ccui-scrollbar__bar {
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 120ms ease-out;
}
.ccui-scrollbar__bar.is-vertical {
  width: 12px;
  top: 2px;
  padding: 2px;
}
.ccui-scrollbar__bar.is-vertical > div {
  width: 100%;
}

.ccui-scrollbar__bar.is-horizontal {
  height: 6px;
  left: 2px;
}
.ccui-scrollbar__bar.is-horizontal > div {
  height: 100%;
}

/*# sourceMappingURL=scrollbar.css.map */
