/* Error: Undefined mixin.
 *    ,
 * 37 | / @include b(popup-parent) {
 * 38 | |   @include m(hidden) {
 * 39 | |     overflow: hidden;
 * 40 | |   }
 * 41 | \ }
 *    '
 *   popup.scss 37:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 37 \2502  \250c  @include b(popup-parent) {\a 38 \2502  \2502    @include m(hidden) {\a 39 \2502  \2502      overflow: hidden;\a 40 \2502  \2502    }\a 41 \2502  \2514  }\a    \2575 \a   popup.scss 37:1  root stylesheet";
}
